fastapi
uvicorn
langchain
langchain-openai
langchain-community
langchain-chroma
langsmith
python-dotenv
openai
pydantic
pytesseract
pdf2image 
langgraph
langchain-mcp-adapters
PyPDF2
pypdf
pillow
chromadb 
langchain-core 
redis
fastapi-utilities
google-generativeai
python-jose[cryptography]
passlib[bcrypt]
python-multipart
gtts 